.web-signup-top {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

/* 반응형 웹 */
.web-signup {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
@media (max-width: 1511px) {
  .web-signup {
    width: 100%;
    max-width: 390px;
  }
}

@media (min-width: 1512px) {
  .web-signup {
    width: 100%;
    max-width: 1512px;
  }
}

/* PC용 화면 (대부분 모바일에서도 공통으로 씀)*/
.web-signup .div {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  min-height: 409px;
  min-width: 380px;
  position: absolute;
  top: 10vh;
}

.web-signup .frame-2 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
}

.web-signup .title {
  color: var(--bananistyle);
  font-family: "Inter", Helvetica;
  font-size: 50px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 50px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.web-signup .text-wrapper-2 {
  align-self: stretch;
  color: #267bf1;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  text-align: center;
}

.web-signup .frame-3 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  position: relative;
  width: 100%;
}

.web-signup .div-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 6px;
  position: relative;
  width: 100%;
}

.web-signup .text-wrapper-3 {
  align-self: stretch;
  color: #1c1b1f;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
}

.web-signup .text-input {
  align-self: stretch;
  background-color: transparent;
  border: 0;
  color: #a09cab;
  flex: 0 0 auto;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  padding: 0;
  position: relative;
  width: 100%;
}

.web-signup .line {
  align-self: stretch;
  height: 1px;
  margin-bottom: -0.2px;
  position: relative;
  width: 100%;
}

.web-signup .input {
  align-self: stretch;
  background-color: transparent;
  border: 0;
  color: #a09cab;
  flex: 0 0 auto;
  font-family: "Inter", Helvetica;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  padding: 0;
  position: relative;
  width: 100%;
}

.web-signup .frame-4 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 17px;
  position: relative;
  width: 100%;
}

.web-signup .view {
  height: 24px;
  position: relative;
  width: 65px;
}

.web-signup .text-wrapper-4 {
  color: #1c1b1f;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.web-signup .frame-5 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.web-signup .on-instance {
  position: relative !important;
}

.web-signup .div-wrapper {
  height: 24px;
  margin-right: -2px;
  position: relative;
  width: 54px;
}

.web-signup .text-wrapper-5 {
  color: #1c1b1f;
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.web-signup .element {
  height: 24px;
  margin-right: -2px;
  position: relative;
  width: 164px;
}

.web-signup .frame-6 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
  width: 100%;
}

.web-signup .view-2 {
  height: 24px;
  margin-right: -2px;
  position: relative;
  width: 324px;
}

.web-signup .text-wrapper-6 {
  color: #a09cab;
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 500;
  left: 272px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-decoration: underline;
  top: 0;
  white-space: nowrap;
}

.web-signup .component-141 {
  align-self: stretch !important;
  width: 100% !important;
}

/* 모바일만을 위한 CSS */
.web-signup .for-mobile-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 390px;
  width: 100%;
  gap: 2vh;
  position: absolute;
  top: 5vh;
}

.web-signup .for-mobile-frame-2 {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 8px 16px;
  position: relative;
  width: 390px;
}

.web-signup .for-mobile-title {
  color: var(--bananistyle);
  flex: 1;
  font-family: "Inter", Helvetica;
  font-size: 23px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 40px;
  margin-top: -1px;
  position: relative;
}

.web-signup .for-mobile-frame-wrapper {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 3.5vh;
  padding: 0px 16px;
  position: relative;
  width: 100%;
}

.web-signup .for-mobile-component-141 {
  position: absolute;
  bottom: 5vh;
  width: 95%;
  max-width: 380px;
}
