/* 북마크 호버 스타일 
  .web-headline-bookmark.state-hover {
    position: relative;
    top : 4px;
  } */

/* Frame Style */
.web-headline-frame {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 3vh;

  position: absolute;
  top: 5vh;
}

.web-headline-frame .web-headline-title {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 537px;
}

.web-headline-frame .web-headline-newspaper {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 11px 418px;
  padding: 7px 0px;
  position: relative;
  width: 100%;
}

.web-headline-frame .web-headline-newspaper-text {
  color: #267bf1;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.web-headline-frame .web-headline-newspaper-title {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 40px;
  position: relative;
  width: 537px;
}

.web-headline-frame .web-headline-newspaper-title-date {
  color: #a09cab;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 40px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.web-headline-frame .time-bookmark-wrapper-for-headline-frame {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* .web-headline-frame .web-headline-bookmark-button-img {
    width: 40px; 얘 건들라면 고정 픽셀 다 손봐야 하는데 그냥 안 하겠습니다
  } */

.web-headline-frame .web-headline-line-image {
  align-self: stretch;
  height: 2px;
  margin-top: -2px;
  position: relative;
  width: 100%;
}

.web-headline-frame .web-headline-line-wrapper {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  position: relative;
  width: 100%;
}

.web-headline-frame .web-headline-article {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 537px;
}

.web-headline-frame .web-headline-article-text {
  white-space: pre-wrap; /* 줄바꿈과 공백을 반영 */
  align-self: stretch;
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 32px;
  margin-top: -1px;
  position: relative;
}

.web-headline-frame .web-headline-link {
  position: relative;
  margin-top: 15px;
  margin-bottom: 75px;
  font-size: 20px;
}

/* FrameForMobile Style */
.mobile-headline-frame {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 13.5px;
}

.mobile-headline-frame .mobile-headline-title-wrapper {
  height: 105px;
  position: relative;
  width: 348px;
}

.mobile-headline-frame .mobile-headline-title {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 27px;
  width: 346px;
}

.mobile-headline-frame .time-bookmark-wrapper-for-headline-frame-for-mobile {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  top: 80px;
}

.mobile-headline-frame .mobile-headline-date {
  color: #a09cab;
  font-family: "Inter", Helvetica;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
  position: relative;
  top: 10px;
}

.mobile-headline-frame .mobile-headline-newspaper {
  color: #267bf1;
  font-family: "Inter", Helvetica;
  font-size: 11px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.mobile-headline-frame .mobile-headline-bookmark-button {
  height: 20px !important;
  left: 328px !important;
  position: absolute !important;
  top: 83px !important;
  width: 20px !important;
}

.mobile-headline-frame .mobile-headline-line-image {
  height: 1px;
  object-fit: cover;
  position: relative;
  width: 350px;
}

.mobile-headline-frame .mobile-headline-article-text {
  white-space: pre-wrap; /* 줄바꿈과 공백을 반영 */
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 25px;
  position: relative;
  width: 319px;
}

.mobile-headline-frame .web-headline-link {
  position: relative;
  margin-top: 17.5px;
  margin-bottom: 95px;
  font-size: 14px;
}
