/* Menu style */
.web-main-frame {
  height: 1525px;
  width: 397px;
}

.web-main-frame .overlap-group {
  background-color: #ffffff;
  border-color: #e8eaee;
  border-right-style: solid;
  border-right-width: 2px;
  height: 1504px;
  left: -2px;
  position: relative;
  top: -2px;
  width: 401px;
}

.web-main-frame .div-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 32px;
  left: 52px;
  position: absolute;
  top: 174px;
  width: 249px;
}

.web-main-frame .title {
  color: var(--bananistyle);
  font-family: "Inter", Helvetica;
  font-size: 48px;
  font-weight: 800;
  left: 52px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 81px;
  width: 280px;
}

/* ToSummaryButton Style */
.web-main-state-default-wrapper {
  align-items: center;
  display: inline-flex;
  gap: 4px;
  padding: 0px 16px;
  position: relative;
}

.web-main-state-default-wrapper .div {
  position: relative;
}

.web-main-state-default-wrapper .text-wrapper {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 40px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.web-main-state-default-wrapper .arrow-right {
  height: 32px;
  position: relative;
  width: 32px;
}

.web-main-state-default-wrapper.default {
  justify-content: center;
}

.web-main-state-default-wrapper.hover {
  background-color: #a09cab1a;
  border-radius: 10px;
}

.web-main-state-default-wrapper.default .div {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 40px;
  margin-top: -1px;
  white-space: nowrap;
  width: fit-content;
}
